<div class="card">

    <div class="card-body row">

        <div class="col">
            <img src="../../../assets/logo.png">
        </div>

        <div class="col">
            <h6>IES Santa fe</h6>
            <div class="row">
                <div class="col">
                    <blockquote class="blockquote mb-0">
                        <footer class="blockquote-footer">Tucumán 2721 - (3000) Santa Fe</footer>
                        <footer class="blockquote-footer">contacto@iessantafe.edu.ar</footer>
                    </blockquote>
                </div>

                <div class="col">
                    <blockquote class="blockquote mb-0">
                        <footer class="blockquote-footer">(0342) 4525658</footer>
                        <footer class="blockquote-footer">Lun a Vie de 9 a 12hs y de 17 a 20hs</footer>
                    </blockquote>
                </div>

            </div>

        </div>



        <div class="col">
            <h6>UCU Santa fe</h6>
            <div class="row">
                <div class="col">
                    <blockquote class="blockquote mb-0">
                        <footer class="blockquote-footer">Tucumán 2721 - (3000) Santa Fe</footer>
                        <footer class="blockquote-footer">informescrsf@ucu.edu.ar</footer>

                    </blockquote>
                </div>

                <div class="col">
                    <blockquote class="blockquote mb-0">
                        <footer class="blockquote-footer">(0342) 4525658 - Opción 1</footer>
                        <footer class="blockquote-footer">Lun a Vie de 9 a 12hs y de 17 a 20hs</footer>
                    </blockquote>
                </div>
            </div>

        </div>

    </div>
</div>