<div class="container ml-auto mr-auto mt-5 mb-5">
    <h3 class="mt-5 mb-3">DISERTANTES</h3>
    <div class="card-columns">
        <div *ngFor="let disertante of disertantes" class="card text-white animated fadeIn rounded">
            <img class="card-img-top rounded" src="{{ disertante.url }}">
            <div class="card-body rounded">
                <h5 class="card-title">{{disertante.nombre}} {{disertante.apellido}}</h5>
                <p class="card-text">{{disertante.descripcion}}</p>
            </div>
            <!--
            <ul class="list-group list-group-flush rounded">
                <li class="list-group-item list-group-item-action rounded">{{disertante.fecha}} - {{disertante.lugar}}</li>
            </ul>
            -->
        </div>
    </div>
</div>
<hr>