<!--<h1>Redes Sociales</h1>

<div>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
</div>
-->
<body>
    <div class="container">
      <div class="row">
        <h2>Nuestras Redes Sociales</h2>
        <div>
          <ul class="social-network social-circle">
            <li><a target="_blank" href="https://www.facebook.com/iessantafe/" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a target="_blank" href="https://twitter.com/iessantafe" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a target="_blank" href="https://www.instagram.com/iessantafe/?hl=es-la" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UCs35_YL-H0ICFobTxUL7cZQ" class="icoYoutube" title="Youtube"><i class="fa fa-youtube"></i></a></li>
            <li><a target="_blank" href="https://vimeo.com/user26372890" class="icoVimeo" title="Vimeo"><i class="fa fa-vimeo"></i></a></li>
            <li><a target="_blank" href="https://www.linkedin.com/company/ies-santa-fe" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
