<div class="container ml-auto mr-auto mt-5 mb-5">
    <h3 class="mt-5 mb-3">CRONOGRAMA</h3>

    <div class="timeline">
        <div class="containert left">
            <div class="content ">
                <h2>Lunes 4/11</h2>
                <h5>IES</h5>
                <ul>
                    <li><b>17 a 19</b> - Presentación libro "Un futuro posible" y charla Lic. Angel Letteriello.</li>
                    <li><b>19:30 a 21</b> - Charla "Planes de Negocios: hoy un sueño, mañana tu empresa" de Rocío Peña.</li>
                </ul>
            </div>
        </div>
        <div class="containert right">
            <div class="content">
                <h2>Martes 5/11</h2>
                <h5>IES</h5>
                <ul>
                    <li><b>17:30 a 19:15</b> - Charla "Asesoramiento de imagen y Dress Codes" por Brenda Mignola.</li>
                </ul>
            </div>
        </div>
        <div class="containert left">
            <div class="content">
                <h2>Miércoles 6/11</h2>
                <h5>IES</h5>
                <ul>
                    <li><b>17 a 17:25</b> - Presentación Workshop "Mujeres programando" en Auditorio IES.</li>
                    <li><b>17:30 a 20</b> - Workshop "Mujeres programando" con Bárbara Yunges y Romina Rontomé.</li>
                    <li><b>17 a 19</b> - Mesa redonda "Evolución de las RRPP y nuevas prácticas profesionales" por Dolores Arriola y Macarena Agostini.</li>
                    <li><b>19.30 a 21:30</b> - Charla / Debate "Casos de jóvenes emprendedores", por Exalumnos Dirección de Empresas IES: Agustina Spesso y Franco Pavoni.</li>
                </ul>
            </div>
        </div>
        <div class="containert right">
            <div class="content">
                <h2>Miércoles 6/11</h2>
                <h5>UPCN</h5>
                <ul>
                    <li><b>15 a 16:45</b> - Charla "Trayectoria en Diseño Gráfico, 20 años no es nada" por Gustavo Pagliólico.</li>
                    <li><b>17 a 18:45</b> - Presentación del proyecto transmedia "Latido Urbano. El hip hop como expresión cultural en Santa Fe".</li>
                    <li><b>19 a 21</b> - Inauguración Muestra Anual trabajos de alumnos Carrera Diseño Gráfico y Visual.</li>
                </ul>
            </div>
        </div>
        <div class="containert left">
            <div class="content">
                <h2>Jueves 7/11</h2>
                <h5>UPCN</h5>
                <ul>
                    <li><b>15 a 16:45</b> - Charla "Programate para emprender: elegí tu propia aventura" por Pedro Prez.</li>
                    <li><b>17 a 18:45</b> - Charla "La dinámica de los Medios Digitales", por Patricio Caruso.</li>
                    <li><b>19 a 21</b> - Premios IES al Periodismo 2019.</li>
                </ul>
            </div>
        </div>
        <div class="containert right">
            <div class="content">
                <h2>Viernes 8/11</h2>
                <h5>UPCN</h5>
                <ul>
                    <li><b>18:30 a 20</b> - Desfile Diseño de Indumentaria - Parte 1.</li>
                    <li><b>20 a 21:30</b> - Desfile Diseño de Indumentaria - Parte 2.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card-group mt-5">
        <div class="card border-0 mr-1 rounded-lg">
            <a href="../../../assets/eventos/01.jpg" target="_blank"><img src="../../../assets/eventos/01.jpg" class="card-img"></a>
        </div>
        <div class="card border-0  mr-1 rounded-lg">
            <a href="../../../assets/eventos/02.jpg" target="_blank"><img src="../../../assets/eventos/02.jpg" class="card-img"></a>
        </div>
        <div class="card border-0  mr-1 rounded-lg">
            <a href="../../../assets/eventos/03.jpg" target="_blank"><img src="../../../assets/eventos/03.jpg" class="card-img"></a>
        </div>
        <div class="card border-0 rounded-lg">
            <a href="../../../assets/eventos/04.jpg" target="_blank"><img src="../../../assets/eventos/04.jpg" class="card-img"></a>
        </div>
    </div>

<hr>